<%= form_for @movie do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :release_date %>
    <%= f.date_field :release_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :length, 'Length in minutes' %>
    <%= f.number_field :length, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :types %>
    <%= f.text_field :types, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :director %>
    <%= f.text_field :director, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :writer %>
    <%= f.text_field :writer, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-default"%>
  </div>
<% end %>
