<h1>Hello</h1>

<% @movies.each do |movie| %>
  <p>
    <%= movie.title %>
    <%= link_to "Show", movie_path(movie) %>
    <% if current_user %>
      <%= link_to "Edit", movie_path(movie) %>
      <%= link_to "Delete", movie_path(movie),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }%>
    <% end %>
  </p>
<% end %>
<p>
  <%= link_to "Add movie", new_movie_path %>
</p>
