<h1><%= @movie.title %></h1>

<p>
  <%= link_to "Back to main page", movies_path %>
</p>

<%= render 'authentication', movie: @movie %>

<h1>Comments</h1>

<%= render @movie.opinions %>

<%= render 'opinions/form', opinion: @opinion %>
