<!DOCTYPE html>
<html>
  <head>
    <title>MySite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://tinyurl.com/codesensei" %>
    <%= link_to "New post", "/posts/new" %>
    <%= link_to "All posts", "/posts" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
