<h1>My To Do list</h1>

<table>
  <tr>
    <td><strong>Task title</strong></td>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%=task.title%></td>
      <td><%= link_to 'Show', task_path(task)%>
        | <%= link_to 'Edit', edit_task_path(task)%>
        | <%= link_to 'Delete', task_path(task),
              method: :delete,
              data: { confirm: 'Task is finished?' }%>
      </td>
    </tr>
  <% end %>
</table>

<h2>Add new task</h2>
<%= render 'form' %>
