<h1>Sign in</h1>

<%= form_for @user do |f| %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
    <%= render 'shared/error_messages', object: @user, field_name: :first_name %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
    <%= render 'shared/error_messages', object: @user, field_name: :email %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
    <%= render 'shared/error_messages', object: @user, field_name: :password %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    <%= render 'shared/error_messages', object: @user, field_name: :password_confirmation %>
  </div>

  <div class="form-group"><%= f.submit "Sign in", class: "btn btn-default" %></div>
<% end %>
